*{
    margin: 0;
    padding: 0;
}
body{
    width: 800px;
    margin: 20px auto;
    color: rgb(0, 0, 83);
    background: #e2e2e2;
}
.form{
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    padding: 5px;
}
#button_form{
    padding: 5px;
}
.burn{
    color: red;
}